@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  src: url(/fonts/Open_Sans/OpenSans-Light.ttf);
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  src: url(/fonts/Open_Sans/OpenSans-Regular.ttf);
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  src: url(/fonts/Open_Sans/OpenSans-Semibold.ttf);
}

body {
  background-color: #FAFBFC;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.container {
  width: 600px;
  margin: 0 auto;
}

main {
  background-color: white;
  height: 500px; /* temporary */
}

.logo {
  display: block;
  margin: 20px auto 25px;
  width: 152px;
}

.top-image {
  width: 100%;
}

.content {
  padding: 20px 40px;
  color: #525c65;
}

h1 {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
}

p {
  font-size: 14px;
  line-height: 24px;
}
