body {
  background-color: #FAFBFC;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.content {
  width: 600px;
  margin: 0 auto;
}

main {
  background-color: white;
  height: 500px; /* temporary */
}

.logo {
  display: block;
  margin: 20px auto 10px;
  width: 152px;
}

.top-image {
  width: 100%;
  margin-bottom: 25px;
}

h1 {
  color: #525c65;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}
