body {
  background-color: #FAFBFC;
}

.content {
  width: 600px;
  margin: 0 auto;
}

main {
  background-color: white;
  height: 500px; /* temporary */
}

.logo {
  display: block;
  margin: 20px auto 10px;
  width: 152px;
}

.top-image {
  width: 100%;
}
