/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700");
@import url("https://use.fontawesome.com/releases/v6.1.2/css/all.css");

/* Components */
/* @import url("components/name_of_component.css"); */
@import url("components/logo.css");
@import url("components/top_img.css");
@import url("components/content.css");
@import url("components/partners.css");
@import url("components/footer.css");
@import url("components/demand.css");



body, footer {
  background-color: #FAFBFC;
}

body {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Open Sans", "Helvetica", "sans-serif";
}

.container {
  width: 600px;
  margin: 0 auto;
}

.container .main {
  background-color: white;
}
